nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav p{
    margin: 10px;
}

main{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

#starter{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    
}
#starter p{
    margin: 25px 125px;
}

.button-section{
    display: flex;
}

#button{
    margin: 5px 0px;
}

.hide{
    display: none;
}

#container{
    margin-top: 60px;
    
}

h2 {
    margin: 0px 0px 25px 0px;
}
