*{
    color: white;
    font-family: 'Courier New', Courier, monospace
}

/* page background color */
body{
    background-color: #04041de2;
}

/* positions HIGHSCORE & TIMER  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav p{
    margin: 10px;
}

/* starter page  */
main{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

/* hides contect thats attached to this .hide class */
.hide{
    display: none;
}

#start-button{
    color: rgb(251, 251, 0);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    
}

/* creates effects when hovering over START button */
#start-button:hover{
    transition: transform 150ms;
    transform: scale(1.3);
    background-color: white;
    color: black;
}


#starter{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    
}
#starter p{
    margin: 25px;
}

.button-section{
    display: flex;
}

#question{
    font-size: 20px;
    margin-bottom: 25px;
}

#answer-buttons{
    margin: 5px 0px;
}

/* creates ALERT (correct or incorrect) style when answering questions */
#alert{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    background-color: rgb(251, 251, 0);
    color: black;
    border-radius: 5px;
}

/* answer buttons style */
#answ1, #answ2, #answ3, #answ4{
    margin: 15px 0px;
    color: rgb(251, 251, 0);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    
}

/* effect when hovering over answers and submit buttons*/
#answ1:hover, #answ2:hover, #answ3:hover, #answ4:hover, #submit:hover{
    background-color: white;
    color: black;
    transition: transform 150ms;
    transform: scale(1.1);
}


#container{
    background-color: black;
    margin: 60px 60px 0px 60px;
    padding: 25px;
    border-radius: 10px;
    
}

#score-submit{
    margin-top: 60px;
}

/* submit button style */
#submit{
    
    color: rgb(251, 251, 0);
    background-color: black;
    border-radius: 4px;
    border-style: none;
    padding:3px;
}

#score-submit p{
    margin: 40px 0px 15px 0px;
    font-weight: 100;
}

#name{
    color: black;
}

h4{
    margin: 40px 0px 5px 0px;
}

h3{
    font-size: 25px;
}



